
<div class="container" style="margin-top:-200px">
      <div class="row">
 <div class="col-md-9"> 
      <div class="well hidden-xs">   
        <div class="row">
          <div class="col-xs-4">
    <h4>Dar de alta Plataforma</h4>
    <form>
      <div class="form-group">
      
      <label for="name">Nombre</label>
<input #name type="text" class="form-control" id="name">

</div>
 
      <button type="submit" (click)="altaPlat(name.value)" class="btn btn-success">Aceptar</button>
 
    </form>
</div>
</div>
</div>
</div>
</div>

